body {
    background-image: url("agua.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: monospace;
    
}

form {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0,0.4);
    box-sizing: border-box;
    border-radius: 7px;
    align-content: center;

}






h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #000102;
    padding: 7px;
    width: 100%;
    text-align: center;
}

input, select {
    align-content: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    color: #000102;
    border: none;
}

#datos, #principal {
    align-content: center;
    float: left;
    padding: 0;
    margin: 0;
}
  
#datos {
    width: 25%;
    background-color:red;
}
  
#principal {
    align-items: center;
    width: 75%;
}
  
#contenido {
    list-style-type: none;
    padding: 0;
}
  
#contenido li {
    float: left;
    width: 33%;
}

#boton {
    background: rgb(15, 113, 211);
    color: #fff;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
}

@media (max-width:480px) {
    form {
        width: 100%;
    }
}

#factu{
    margin-top: 110px;
}